<div class="container">
  <h1>Todo App</h1>
  <ul>
    <todo-item *ngFor="let item of todoList"
      class="todo"
      [title]="item.title"
      [isDone]="item.isDone"
      [id]="item.id"
      [type]="item.type"
      (onComplete)="handleItemComplete($event)"
      (onDelete)="handleItemDelete($event)"
    >
    </todo-item>
  </ul>
  <form (submit)="handleSubmit($event)" class="forms">
    <input
      name="title"
      class="{{ type }}"
      type="text"
      placeholder="Adicionar uma tarefa"
      [(ngModel)]="title"
    />
    <select name="type" [(ngModel)]="type" class="{{ type }}">
      <option value="light" default selected>Baixa</option>
      <option value="normal">Normal</option>
      <option value="medium">Médio</option>
      <option value="important">Importante</option>
    </select>
    <button>+</button>
  </form>
</div>

