* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --color-background-primary: #313642;
  --color-background-secondary: #3E4553;
  --color-primary: #FF7360;
  --color-secondary-purple: #AA9AFF;
  --color-secondary-blue: #B1D199;
  --color-secondary-green: #63B4FF;
}
